@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$site-width: 1200px;
$hero-width: 1600px;
$profile-image-width: 300px;

$gutter: 8px;
$gray: #333;
$primary: #1977F3;
$primary-light: #EEF5FE;

$small-breakpoint: 500px;
$medium-breakpoint: 960px;

.app {
  * {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
  }
  .nav-bar{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: $primary-light;
    height: 10vh;
    div{
      margin: 0 auto;
      p{
        font-style: italic;
      }
    }
    .header {
      grid-column:2/3;
    }
    .nav-list{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      grid-column: 5/6;
      a{
        margin-right: $gutter;
      }
      .button{
        background-color: $primary;
        padding: 10px;
        border-radius: 5px;
        color: white
      }
    }
  }
  .main-section{
    margin: 0 2%;
    img{
    max-width: 100%;
   }
   .content{
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    img{
      grid-column: 2;
      border-radius: 50%;
     }
     .introduction{
       grid-column: 3/6;
       margin: 15px;
       p{
         margin:$gutter 0 ;
       }
     }
   }
  }
  
}
