@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

$site-width: 1200px;
$hero-width: 1600px;
$profile-image-width: 300px;

$gutter: 8px;
$gray: #333;
$primary: #1977F3;
$primary-light: #EEF5FE;

$small-breakpoint: 500px;
$medium-breakpoint: 960px;

.app {
  * {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
  }
  .nav-bar{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    background-color: $primary-light;
    height: 100px;
    div{
      margin: auto;
      p{
        font-style: italic;
      }
    }
    .header {
      grid-column:2/3;
    }
    
  }
  .main-section{
    margin: 0 2%;
    img{
    width: 100%;
   }
   .content{
    
    img{
      display:block;
      width: $profile-image-width;
      border-radius: 50%;
      margin: auto;
    }
     .introduction{
       grid-column: 3/6;
       margin: 15px;
       p{
         margin:$gutter 0 ;
       }
     }
   }
  }
  .footer{
    background-color: $primary;
    color: $primary-light;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    p{
      grid-column: 2/3;
    }
    .links{
      grid-column: 5/7;
      a{
        margin: 0 $gutter;
      }
      
    }
  }
}

@media only screen and (min-width: $small-breakpoint) {
  .nav-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    grid-column: 5/6;
    a{
      margin-right: $gutter;
    }
    .button{
      background-color: $primary;
      padding: 10px;
      border-radius: 5px;
      color: white
    }
  }
  
  .content{
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    img{
      grid-column: 2;
     }
     .introduction{
       grid-column: 3/6;
       margin: 15px;
       p{
         margin:$gutter 0 ;
       }
     }
   }
  }

  @media only screen and (max-width: $medium-breakpoint){
    .introduction{
      max-height: 40vh;
      overflow-y: scroll;
    }
    .nav-list{
      display: none;

    }
  }
